<ol class="breadcrumb">
  <li>
    <a>
      <%= link_to "Tasks", tasks_path %>
    </a>
  </li>
  <li>
    <a>
      <%= @task.description %>
    </a>
  <li class="active">Edit Task</li>
</ol>

<h1>Editing task</h1>

<%= render 'form' %>
<u>
</u>
