<ol class="breadcrumb">
  <li>
    <a>
      <%= link_to "Tasks", project_tasks_path %>
    </a>
  </li>
  <li>
    <a>
      <%= @task.description %>
    </a>
  <li class="active">Edit Task</li>
</ol>

<%= page_header "Editing task" %>

<%= render 'form' %>
<u>
</u>
