<div class="jumbotron" style="color:black">
  <div class="container">
    <h1>
      <left>Terms</left>
    </h1>
    <p>
      <left style="font-size:16">gCamp is not responsible for anything, unless it is positive.</left>
    </p>
    <p>
      <left style="font-size:16">You may not take us to court, for anything ever.</left>
    </p>
  </div>
</div>
