<%= render 'form', title: 'Edit User' %>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-4 well well-lg text-center">
      <%= link_to 'Destroy', user_path, method: :delete, class: "btn btn-danger"%>
  </div>
</div>
