<% if record.errors.any? %>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-5">
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(record.errors.count, "error") %> prohibited this task from being saved:</h4>
        <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
