w00t - this is for the gCamp project

and now we are going to try actual HTML but convert it to HAML

so HTML would look like:
<P> This is an HTML paragraph </p>
  <ul>With an unordered list</ul>
    <li>list item 1</li>
    <li>list item 2</li>

but in HAML it would look like:
