= stylesheet_link_tag 'application'
%body
  / Main jumbotron for a primary marketing message or call to action
  .jumbotron{:style => "color:white"}
    %h1
      %center gCamp
    %p
      %center{:style => "font-size:16"} Your life, organized
  .container
    .row
      - @images.each do |display|
        .col-md-4
          = image_tag(display, class: "img-responsive")
  %br
  .container
    .row
      - @columns.each do |headers, contents|
        .col-md-4
          .panel.panel-info
            .panel-heading
              %h3.panel-title
                = headers
            - contents.each do |content|
              .panel-content
                %ul
                  %li= content
