<div class="jumbotron">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
    <% @faqs.each do |faq| %>
      <h4><%= faq.question %></h4>
      <p><%= faq.answer %></p>
    <% end %>
  </div>
</div>
