<div class="jumbotron">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <br></br>
    <% @faqs.each do |faq| %>
      <h3><%= faq.question %></h3>
      <p><%= faq.answer %></p>
    <% end %>
  </div>
</div>
