<div>
  <a name="top"></a>
  <h2>Frequently Asked Questions</h2>
  <% @faqs.each do |faq| %>
    <ul>
        <li><%= faq.question %></li>
    </ul>
  <% end %>
  <br></br>
  <% @faqs.each do |faq| %>
    <a name="<%= faq %>"></a>
    <h4><%= faq.question %></h4>
      <p><%= faq.answer %></p>
    <div class="faqend">
      <a href=#top>Top</a>
    </div>
  <% end %>
</div>
