<div class="jumbotron" style="color:black">
  <h1>
    <center>About</center>
  </h1>
  <p>
    <center style="font-size:16">Get organized and increase productivity with your team</center>
  </p>
  <p>
    <center><%=image_tag('rocket2.jpg', class: "img-responsive")%></center>
  </p>
</div>
