@import "bootstrap-sprockets";
@import "bootstrap";
.jumbotron {
  background: rgba(0, 0, 0, 0.0);
}

.homepage {
  background-image: image-url("mainbackground.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.panel {
  color: white;
  background: rgba(0, 0, 0, 0.0);
}

.nav {
  padding: 15px
}

.footer{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px gray solid;
  background: #222222;
}

a.active {
  color: #ababab;
  pointer-events: none;
  cursor: default;
  font-weight: bold;
 }

.quotes {
  color: white;
  padding-bottom: 80px
}

.author {
  font-style: italic;
  color: #DCDCDC;
  text-indent: 15px
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
